@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

body {
    font-family: 'Arvo', serif;
    margin: 0px;
}

:root {
    --primary-color: #A3E635;
    --links-black: #0F172A;
    --black-black: black;
    --links-white: white;
}

hr {
    margin: 1rem 0rem;
}

.container {
    padding: 1rem 0rem;
}

.container-center {
    text-align: center;
    max-width: 600px;
    margin: auto;
    color: black;
}

.links-primary {
    padding: 0.5rem 2rem;
    margin: 0.5rem 0.5rem;
    text-decoration: none;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--links-black);
    color: Black;
}

.links-secondary {
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    background-color: var(--links-white);
    border-radius: 0.5rem;
    border: 1px solid var(--links-black);
    color: var(--links-black);
}

.lists-non-bullets {
    list-style: none;
}

.lists-inline {
    display: inline;
    padding: 0rem 1rem;
    max width: 350px;
    margin: auto;
}

.navigation {
    color: var(--primary-color);
    background-color: black;
    padding: 2rem 0rem;
    border-bottom-right-radius: 1rem;
}

.nav-brand {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
}

.navigation .lists-inline {
    color: black;
}

.navigation .nav-links {
    border-radius: 0.5rem;
    border: 1px solid var(--links-black);
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: black;
}

.navlist {
    text-align: right;
}

.hero {
    padding: 2rem;

}

.hero .hero-header {
    font-size: xx-large;
    font-style: bold;
    text-align: center;
    margin: auto;
}

.hero .span {
    color: var(--primary-color);
    font-size: xx-large;
    font-style: bold;
    text-align: center;
    margin: auto;
    
}

.main-image {
    border-radius: 100px;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.section {
    text-align: center;
    padding: 5rem;
    color: var(--primary-color);
}

.gray {
    background-color: grey;
}

.black {
    background-color: black;
}

.footer {
    text-align: center;
    background-color: var(--black-black);
    padding: 2rem 0rem;
    color: var(--primary-color);
}

.footer .lists-inline .social-links {
    color: var(--black-black);
    background-color: var(--primary-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    

}
.footer ul {
    padding-inline-start: 0px;
}